//global variables

//old app vals
// $btn-primary: #000000;
// $btn-secondary: #fff;
// $font-family-primary: 'Montserrat', sans-serif;
// $font-family-secondary: 'Lato', sans-serif;
// $font-primary: #000000;
// $font-secondary: #fff;
// $background: #e4d5b7;

$bold-weight: bold;
$normal-weight: normal;


$border: #000000;
$shadow: #000000;

$headers: #051f38;
$body: #000000;

$btn-primary: #000000;
$btn-secondary: #000000;
$btn-bg-primary: #000000;
$btn-bg-secondary: #000000;

$background-primary: #FAF9F7;
$background-secondary: #e4d5b7 ;

// Default theme
// $border-default: #000000;
// $shadow-default: #000000;

// $headers-default: #000000;
// $body-default: #000000;

// $btn-primary-default: #000000;
// $btn-secondary-default: #000000;
// $btn-bg-primary-default: #000000;
// $btn-bg-secondary-default: #000000;

// // Theme 1: Blue
// $border-theme-blue: #007bff;
// $shadow-theme-blue: #007bff;

// $headers-theme-blue: #007bff;
// $body-theme-blue: #007bff;

// $btn-primary-theme-blue: #007bff;
// $btn-secondary-theme-blue: #007bff;
// $btn-bg-primary-theme-blue: #007bff;
// $btn-bg-secondary-theme-blue: #007bff;

// // Theme 2: Green
// $border-theme-green: #28a745;
// $shadow-theme-green: #28a745;

// $headers-theme-green: #28a745;
// $body-theme-green: #28a745;

// $btn-primary-theme-green: #28a745;
// $btn-secondary-theme-green: #28a745;
// $btn-bg-primary-theme-green: #28a745;
// $btn-bg-secondary-theme-green: #28a745;