@import '_vars.scss';
//global-styling for borders
.border-top {
    border-top: 1px solid $border;
}

.border-bottom {
    border-bottom: 1px solid $border;
}

.border-right {
    border-right: 1px solid $border;
}

.border-top {
    border-left: 1px solid $border;
}

.box-shadow {
    box-shadow: 0px 2px 4px $shadow;
}