@import '_vars.scss';
//utility classes to use globally
.inline-block {
    display: inline-block !important;
}

.inline-flex {
    display: inline-flex !important;
}

.flex {
    display: flex !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.width-full {
    width: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.background-primary {
    background-color: $background-primary;
}

.background-secondary {
    background-color: $background-secondary;
}
